// Primary
$Very-Dark-Magenta: hsl(300, 43%, 22%);
$Soft-Pink: hsl(333, 80%, 67%);

// Neutral
$Dark-Grayish-Magenta: hsl(303, 10%, 53%);
$Light-Grayish-Magenta: hsl(300, 24%, 96%);
$White: hsl(0, 0%, 100%);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: $White;

    main {
        padding-top: 7.3rem;
        padding-inline: 10.3rem;
        font-family: "League Spartan", sans-serif;

        .proof__info__wrapper {
            display: grid;
            grid-template-columns: 2fr 2fr;
            column-gap: 2rem;

            .proof__detail {
                h1 {
                    font-size: 3.25rem;
                    font-weight: 700;
                    color: $Very-Dark-Magenta;
                    max-width: 350px;
                }

                p {
                    margin-top: 1.7rem;
                    font-size: 1.1rem;
                    font-weight: 500;
                    line-height: 1.4;
                    max-width: 450px;
                    color: $Dark-Grayish-Magenta;
                }
            }

            .proof__rating {
                display: flex;
                flex-direction: column;

                .box__rating__one {
                    display: flex;
                    background-color: $Light-Grayish-Magenta;
                    padding-block: 1.13rem;
                    padding-inline: 2rem;
                    margin-top: 1.85rem;
                    gap: 2rem;
                    max-width: 440px;
                    border-radius: 0.5rem;

                    ul {
                        display: flex;
                        gap: 0.5rem;
                    }

                    p {
                        font-weight: 700;
                        font-size: 1.095rem;
                        color: $Very-Dark-Magenta;
                    }
                }

                .box__rating__two {
                    display: flex;
                    background-color: $Light-Grayish-Magenta;
                    padding-block: 1.17rem;
                    padding-inline: 2rem;
                    margin-top: 1rem;
                    margin-left: 3rem;
                    gap: 2rem;
                    max-width: 440px;
                    border-radius: 0.5rem;

                    ul {
                        display: flex;
                        gap: 0.5rem;
                    }

                    p {
                        font-weight: 700;
                        font-size: 1.095rem;
                        color: $Very-Dark-Magenta;
                    }
                }

                .box__rating__three {
                    display: flex;
                    background-color: $Light-Grayish-Magenta;
                    padding-block: 1.13rem;
                    padding-inline: 2rem;
                    margin-top: 1rem;
                    margin-left: 5.8rem;
                    gap: 2rem;
                    max-width: 440px;
                    border-radius: 0.5rem;

                    ul {
                        display: flex;
                        gap: 0.5rem;
                    }

                    p {
                        font-weight: 700;
                        font-size: 1.13rem;
                        color: $Very-Dark-Magenta;
                    }
                }
            }
        }

        .social__testimonials {
            margin-top: 4.5rem;
            display: grid;
            grid-template-columns: 2fr 2fr 2fr;
            column-gap: 1.8rem;

            .profile__one {
                background-color: $Very-Dark-Magenta;
                border-radius: 0.7rem;
                padding-block: 2.5rem;
                padding-inline: 2rem;
                max-height: 235px;

                .profile__detail__wrapper {
                    display: flex;
                    gap: 1.5rem;

                    img {
                        width: 2.5rem;
                        border-radius: 50%;
                    }

                    .profile__detail {
                        h2 {
                            font-size: 1.05rem;
                            font-weight: 700;
                            padding-top: 0.2rem;
                            color: $White;
                        }

                        p {
                            font-size: 1.06rem;
                            padding-top: 0.2rem;
                            color: $Soft-Pink;
                        }
                    }
                }

                .profile__quote {
                    margin-top: 1.73em;
                    font-size: 1.045rem;
                    color: $White;
                    line-height: 1.3;
                }
            }

            .profile__two {
                background-color: $Very-Dark-Magenta;
                border-radius: 0.7rem;
                padding-block: 2.5rem;
                padding-inline: 2rem;
                max-height: 235px;
                margin-top: 1rem;

                .profile__detail__wrapper {
                    display: flex;
                    gap: 1.5rem;

                    img {
                        width: 2.5rem;
                        border-radius: 50%;
                    }

                    .profile__detail {
                        h2 {
                            font-size: 1.05rem;
                            font-weight: 700;
                            padding-top: 0.2rem;
                            color: $White;
                        }

                        p {
                            font-size: 1.06rem;
                            padding-top: 0.2rem;
                            color: $Soft-Pink;
                        }
                    }
                }

                .profile__quote {
                    margin-top: 1.73em;
                    font-size: 1.045rem;
                    color: $White;
                    line-height: 1.3;
                }
            }

            .profile__three {
                background-color: $Very-Dark-Magenta;
                border-radius: 0.7rem;
                padding-block: 2.5rem;
                padding-inline: 2rem;
                max-height: 235px;
                margin-top: 2rem;

                .profile__detail__wrapper {
                    display: flex;
                    gap: 1.5rem;

                    img {
                        width: 2.5rem;
                        border-radius: 50%;
                    }

                    .profile__detail {
                        h2 {
                            font-size: 1.05rem;
                            font-weight: 700;
                            padding-top: 0.2rem;
                            color: $White;
                        }

                        p {
                            font-size: 1.06rem;
                            padding-top: 0.2rem;
                            color: $Soft-Pink;
                        }
                    }
                }

                .profile__quote {
                    margin-top: 1.73em;
                    font-size: 1.045rem;
                    color: $White;
                    line-height: 1.3;
                }
            }
        }

        @media (max-width: 1350.98px) {
            padding-inline: 7rem;
        }

        @media (max-width: 1280.98px) {
            padding-inline: 5rem;

            .proof__info__wrapper {
                display: grid;
                grid-template-columns: 2fr 2fr;
                column-gap: 2rem;

                .proof__detail {
                    h1 {
                        font-size: 3.25rem;
                        font-weight: 700;
                        color: $Very-Dark-Magenta;
                        max-width: 350px;
                    }

                    p {
                        margin-top: 1.7rem;
                        font-size: 1.1rem;
                        font-weight: 500;
                        line-height: 1.4;
                        max-width: 450px;
                        color: $Dark-Grayish-Magenta;
                    }
                }

                .proof__rating {
                    display: flex;
                    flex-direction: column;

                    .box__rating__one {
                        max-width: 100%;
                    }

                    .box__rating__two {
                        margin-left: 0;
                        max-width: 100%;
                    }

                    .box__rating__three {
                        margin-left: 0;
                        max-width: 100%;
                    }
                }
            }

            .social__testimonials {
                .profile__one {
                    max-height: auto;
                }

                .profile__two {
                    max-height: auto;
                }

                .profile__three {
                    max-height: auto;
                }
            }
        }

        @media (max-width: 1120.98px) {
            .social__testimonials {
                margin-top: 4.5rem;
                display: grid;
                grid-template-columns: 1fr;
                row-gap: 0.5rem;
                column-gap: 0;

                .profile__one {
                    max-height: auto;
                }

                .profile__two {
                    max-height: auto;
                    margin-top: 0;
                }

                .profile__three {
                    max-height: auto;
                    margin-top: 0;
                }
            }
        }

        @media (max-width: 768.98px) {
            padding-inline: 3rem;

            .proof__info__wrapper {
                grid-template-columns: 1fr;

                .proof__detail {
                    h1 {
                        text-align: center;
                        max-width: 100%;
                    }

                    p {
                        text-align: center;
                        max-width: 100%;
                    }
                }

                .proof__rating {
                    .box__rating__one {
                        justify-content: center;
                    }

                    .box__rating__two {
                        justify-content: center;
                    }

                    .box__rating__three {
                        justify-content: center;
                    }
                }
            }
        }

        @media (max-width: 576.98px) {
            padding-inline: 1rem;

            .proof__info__wrapper {
                .proof__detail {
                    h1 {
                        font-size: 3rem;
                    }

                    p {
                        font-size: 1rem;
                    }
                }

                .proof__rating {
                    .box__rating__one {
                        flex-direction: column;
                        gap: 0;
                        text-align: center;

                        ul {
                            justify-content: center;
                        }
                    }

                    .box__rating__two {
                        flex-direction: column;
                        gap: 0;
                        text-align: center;

                        ul {
                            justify-content: center;
                        }
                    }

                    .box__rating__three {
                        flex-direction: column;
                        gap: 0;
                        text-align: center;

                        ul {
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }

    .attribution {
        font-size: 11px;
        text-align: center;

        a {
            color: hsl(228, 45%, 44%);
        }
    }
}
